.background {
  width: 60%;
  margin: 0 auto;
}

.intro {
  font-size: 18px;
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
}

.link-input {
  font-size: 16px;
  padding: 10px;
  height: 100%;
  width: 50%;
  outline: none;
  border: 2px solid #64b3f4;
  border-radius: 4px;
  color: #444444;
  font-family: "Nunito", sans-serif;
}

.detect {
  background-color: #64b3f4;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.detect:hover {
  background-color: #00bbf9;
  color: white;
}
