.btn-primary {
  color: #444444;
  background-color: #fbfb53;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #f5f532;
}

.btn-dark {
  color: #444444;
  width: 80px;
  background-color: transparent;
}

.btn-dark:hover,
.btn-dark:active {
  color: black;
  background-color: transparent;
}
